<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%= mongoose.name %> The Mongoose!!!</h1>
    <a href="/">Go Back</a>
    <h3>Info:</h3>
    <p>Age: <%= mongoose.age %></p>
    <p>Pack Name <%= mongoose.pack %></p>
    <a href="/mongooses/edit/<%= mongoose.id %>">Edit Mongoose</a><br><br>
    <a href="/delete/<%= mongoose.id %>">Destroy Mongoose</a>
</body>
</html>